
* {
	padding: 3px;
	margin: 5px;
}

body {
	background-color: rgb(34, 50, 2);
	color: antiquewhite;
	font-family: 'Roboto', sans-serif;
}

.grilla{
	background-color: darkslategrey;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.card {
	height: 500px;
	padding: 20px;
	background-size: cover;
	background-position: center center;
}

.card .textos {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	font-weight: bold;
} 

.boton{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
	text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (max-width: 800px) { 
	.grilla{
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 5px;
	}
	.card{
		max-height: 300px;
	}
	.card .textos{
		font-weight: normal;	
	}
}

@media screen and (max-width: 600px) { 
	.grilla{
		display: grid;
		grid-template-columns: 1fr;
		gap: 5px;
		font-weight: .8rem;
	}
	.card{
		max-height: 150px;
	}
}

@media screen and (max-width: 412px) { 
	.grilla{
		display: grid;
		grid-template-columns: 1fr;
		gap: 5px;
	}
	.card{
		max-height: 80px;
	}
	.card .textos {
		font-weight: .6rem;		
	}
}