/*HOJA DE ESTILOS PARA PRODUCTOS BLACK MIRROR*/

body {
	background-color: rgb(34, 50, 2);
	color: antiquewhite;
	font-family: 'Roboto', sans-serif;
}

main, section {
    background-color: rgb(47, 79, 79);
    height: 100%; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-between;
	padding: 20px;
}

section {
    background-size: cover;
	background-position: center center;
} 

a {
	text-decoration: none;
    background-color: #FFD333;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (min-width: 650px) {
	#texto, #boton {
		display: flex;
		justify-content: space-between;
	}
}
@media screen and (min-width: 650px) {
    #grilla {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    #grilla {
        grid-template-columns: 1fr;
    }
    aside {
        display: grid;
        grid-template-columns: auto auto;
    }
}